@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-hover: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-opacity: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;

  color: var(--dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

.h1,
.h2,
.h3 {
  margin: 0;

  font-family: Neucha, serif;
  font-weight: 400;
  line-height: 1.2em;
}

.h1 {
  margin-bottom: 185px;

  font-size: 72px;
}

.h2 {
  margin-bottom: 30px;

  font-size: 60px;
}

.h3 {
  font-size: 34px;
}

.section {
  padding: 100px 0;
}

.section-bg {
  position: relative;

  overflow: hidden;
}

.section-bg::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -2;

  height: 525px;
}

.btn-main {
  display: inline;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main);
  cursor: pointer;

  transition: background-color 0.25s;
}

.btn-main:hover {
  background-color: var(--main-hover);
}

/**
  ***** ABOUT *****
 */

.what-is {
  margin-bottom: -100px;
  padding-bottom: 0;
}

.what-is-content {
  text-align: center;
}

.video {
  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion-types {
  padding-top: 200px;

  color: var(--white);

  background-color: var(--dark);
}

.distortion-types-title {
  font-weight: 400;
  font-size: 52px;
}

/**
  ***** NAVIGATION *****
 */

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-item {
  display: block;
  box-sizing: border-box;
  width: 350px;
  margin-bottom: 20px;
}

.nav-item-card {
  padding: 24px;

  color: var(--dark);
  text-decoration: none;

  background-color: var(--light);

  transition: color 0.25s, background-color 0.25s;
}

.nav-item-card:hover {
  color: var(--main);

  background-color: var(--white);
}

.nav-item-number {
  display: inline-block;

  font-size: 64px;
  font-family: Neucha, serif;
  line-height: 1;
}

/**
  ***** DISTORTION *****
 */

.distortion {
  position: relative;
}

.distortion::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;

  content: '';
}

.distortion-header {
  margin-bottom: 100px;
}

.distortion-header.image-left > .distortion-image {
  order: -1;
}

.distortion-header.image-right > .distortion-image {
  order: 1;
}

.distortion-muted-text {
  font-size: 24px;
  font-family: Neucha, serif;
}

.distortion-light .distortion-muted-text {
  color: var(--dark-opacity);
}

.distortion-brown .distortion-muted-text {
  color: var(--white-50);
}

.distortion-manifest {
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.distortion-light {
  color: var(--dark);
}

.distortion-light::after {
  background-color: var(--light);
}

.distortion-brown {
  color: var(--white);
}

.distortion-brown::after {
  background-color: var(--brown);
}

.distortion-light .distortion-manifest {
  color: var(--white);

  background-color: var(--brown);
}

.distortion-brown .distortion-manifest {
  color: var(--brown);

  background-color: var(--white);
}

/**
 ****** UTILITIES ******
 */

.color-main {
  color: var(--main);
}

.color-white {
  color: var(--white);
}

.color-dark {
  color: var(--dark);
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 30px;
}

.mb-3 {
  margin-bottom: 40px;
}

.two-column-row {
  display: flex;

  column-gap: 30px;
}

.two-column-row > * {
  flex-basis: 50%;
}
